*{
    font-family: 'Noto Sans JP', sans-serif;
}

.main-content{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3,300px);
    padding:0;
    height: auto;
    background-image: none;
}
  
  .content-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3,300px);
    justify-content: center;
  }
  
  .greeting-message {
    text-align: center;
    color: rgb(27, 26, 26);

    font-size: 40px;
    grid-column: 1 / 5;
    justify-content: center;
    background-image: url("../Img/coffee.jpeg");

  }
  
  .col-1 {
    color: rgb(27, 26, 26);
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    overflow: hidden;

  }
  
  .col-2 {
    color: rgb(27, 26, 26);
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    grid-column: 3 / 5;
    grid-row: 2 / 4;
    overflow: hidden;

  }
  