@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}
.container{
    width: 100%;
}

.left-side{
    display: inline-block;
    width: 42%;
    text-align: center;
}
.center-logo{
    display: inline-block;
    width: 10%;
}
.right-side{
    display: inline-block;
    width:42%;
    text-align: center;
}
header{
    background-color: #fff;
}
.logo{
    width:100%;
    /*padding:0.5rem;
    margin:5px;
    margin-top: 5px;*/
}

nav ul{
    list-style-type: none;
    /*padding: 20px;*/
    overflow: hidden;
    padding-bottom:2rem;
  }

  li {
    display: inline-block;
  }

  li a {
    display: block;
    font-family: 'Staatliches', cursive;
    font-size: 1.8rem;
    text-align: center;
    /*padding: 15px 15px;
    margin-left: 20px;*/
    text-decoration: none;
    color:#161b1f;
    padding:1.5rem;
    margin: 0.5rem;
  }
  
  li a:hover::after {
    width: 100%;
  }
  
  li a:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
  }

.main-content{
    position: relative;
    background-image: url("../Img/straBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*padding-left: 10rem;*/
    padding-left: 10%;
    padding-right: 10%;
}
  .card{
      display: inline-block;
      padding: 1%;
  }
  .card-img{
      text-align: center;
      height: 300px;
      width: 300px;
      box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
      background-color: transparent;

      position: relative;
      overflow: hidden;

      text-align: center;
      color: white;
      padding: 2rem;
  }
  .box-img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width:auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    filter: brightness(70%);

  }

  .category-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
  }